
.bodyContentH{
    margin: 0 14rem 0 10rem;
}


.searchbox-onlyH{
width: 40rem;
height: 2rem;
font-size: 1.2rem;
}
.searchbox-only:focus{
outline-style: none;
}

.searchbtn{
    margin-left: 1rem;
    height: 3rem;
width: 8rem;
}
.askq-btnH{
background-color:#D12F2F;
width: 12rem;
height: 3rem;
color: black;
  border: 2px solid #D12F2F;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
.askq-btn:hover{
  background-color: #ffffff;
  cursor: pointer;   
}

.search-containerH{
    display: flex;
    width: 100%;
/* height: 4rem;
justify-content: center;
 */
}

.form1H{
    text-align: right;
    width:75%;
    justify-self: right;
    
}

.form2H{
    text-align: left;
    width: 25%;
    margin-left: 4rem;
}

#page-heading{
    text-align: left;
    padding-top: 2rem;
}
.ulH{
    display: flex;
  align-items: center;
}
.ulH .liH{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    height: 3rem;
    width: 15rem;
    border
    }
.ulH .liH a{
    width: 100%;
text-decoration: none;
}


.ulH .liH a:link, .ulH .liH a:visited{
  background-color: white;
  color: black;
  border: 2px solid #D12F2F;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.ulH .liH a:hover, .ul .li a:active {
  background-color: #D12F2F;
  color: white;
}


.ulH .liH Link{
    align-self: center;
   
}
.allquestions-containerH{
   
    display: flex;
    justify-content: left;
     
}
.allquestions1H{
    margin-left: 0;
}
.question1H{
    display: flex;
    background-color: white;
    margin:0.5rem auto;
    padding:1rem;
    border: 2px solid #D12F2F;
}
.question1:hover{
    background-color: hsl(0, 66%, 83%);
}
.link-filterH{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#moduleSelector{
    width: 14rem;
    height: 3rem;
    text-align: center;
     background-color: white;
  color: black;
  border: 2px solid #D12F2F;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline-style: none;
  /* margin-right: 2rem; */
    font-size: 1rem;
   
}


#moduleSelector:hover{
  background-color: #D12F2F;
  color: white;
}
img{
    margin-left: 2rem;
    width: 80px;
    height: auto;
}
