@keyframes heading {
  0%   {background-color:rgb(155, 148, 148); color:white;left:0px;}
  25%  {background-color:rgb(168, 150, 150); color:rgb(238, 64, 64);left:10px;}
  85%  {background-color:rgb(248, 191, 191); color:rgb(243, 71, 71); left:20px;}
  93% {background-color:rgb(252, 235, 235); color:rgb(236, 12, 12); left:30px;}
  100% {background-color:rgb(255, 255, 255); color:rgb(235, 39, 39); left:40px;}
  }


  @keyframes slidingLine {
    0%   {left:250px;  visibility: hidden;}
    25%  {left:200px; }
    85%  { left:150px;}
    93% {left:100px;}
    100% { left:80px;}
    }
  
.slide-line
{
  font-size: 4rem;
  position: relative;
  color:rgb(238, 40, 40);
  animation-name: slidingLine;
  animation-duration: 2s;
  /* animation-delay: 4s; */
  margin:0em auto;
  /* left:20px; */
  text-align: center;
}


.animation-text
{
    font-size: 4rem;
    position: relative;
    color:rgb(238, 40, 40);
    animation-name: heading;
    animation-duration: 2.5s;
    text-align: center;
    width:60%;
    margin:0 auto;
    margin-top: 2rem;
    left:42px;
}
