
@keyframes slidingLine {
  0%   {visibility: hidden;}
  50%   {visibility: hidden;}
  65%   {visibility: hidden;}
  75%   {visibility: hidden;}
  100%  {visibility: hidden;}
}

.animation-figure
{
    position: relative;
    top:6px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.holding-hands-img
{
  width:20rem;
}
.animation-heading-container
{
  display: flex;
  width:80%;
}

@media only screen and (max-width: 900px) 
{
  .animation-text
  {
    font-size:2rem;
  }
}