/* *{
    font: 1em ubuntu,Verdana,Arial,sans-serif;
} */


.animation-container
{
    display: flex;

}

.first-section{
    display:flex;
    justify-content: space-evenly;
    /* border:2px solid red; */
    width:95%;
    margin:auto;
}

.heading{
    font-size:3.5rem;
}

.logout-btn{
    background-color: #D12F2F;
    width:6rem;
    height:2.3rem;
    margin:auto 0;
    color:white;
    font-size: 1.2rem;
    border:#D12F2F;
    /* padding:1rem; */
}

.second-section{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border:2px solid red; */
    width:100%;
    margin:5rem auto;
    padding:1rem;
}

#modules
{
    font-size:2rem;
    background-color: #D12F2F;
    border-color:#d3cece;
    color:rgb(252, 253, 253);
    padding: 0.5rem;
}

.title
{
    border-color:#F6F3F3;
    font-size:2rem;
    background-color: #F6F3F3;
    width:60%;
}

.title-module
{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    /* border:2px solid blue; */
}

.text-post-visible
{
    width: 95%;
    display: flex;
    flex-direction: column;
    padding:1rem;
    margin: auto;
    /* border:2px solid blue; */
}

.hidden-text-post
{
    visibility: hidden;
}

.ques-text
{
    border-color:#b8b6b6;
    font-size:2rem;
    background-color: #F6F3F3;
    height:19rem;   
    /* width:100%; */
}

.post-btn
{
    background-color: #D12F2F;
    width:6rem;
    height:2.3rem;
    margin:auto 0;
    color:white;
    font-size: 1.2rem;
    border:#D12F2F;
    margin:1rem auto;
}


.ask-another-question-container
{
    background-color: #D12F2F;
    height:30em;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.question-posted-heading
{
    
    color:white;
    margin:0.5rem auto;
    font: 3rem ubuntu,Verdana,Arial,sans-serif;
} 

.question-posted-message{
    
    color:white;
    margin:0.5rem auto;
    width:80%;
    font: 2rem ubuntu,Verdana,Arial,sans-serif;
}

.ask-another-question-btn
{
    background-color: #D12F2F;
    color:white;
    border:2px solid white;
    width:30%;
    margin:1em auto;
    font: 2rem ubuntu,Verdana,Arial,sans-serif;
}

.ask-another-question-btn:hover{
    background-color: rgb(18, 217, 243);
    color: #D12F2F;
    border:2px solid rgb(107, 10, 10);
}

.ask-question-container
{
    display :flex;
    flex-direction: row;
    /* border:5px solid rgb(214, 22, 22); */
    
    margin: 7rem 10rem 0rem 10rem;
    border-radius: 2rem 2rem 0 0;
    padding-bottom: 4rem;

    width:90%;
    margin:2rem auto;
    background-color: rgb(102, 86, 86);
    padding:3rem 2rem;
    /* background: linear-gradient(rgb(102, 86, 86),rgb(134, 114, 114),white);
     */
     background-color: #575757;
    
}

.left-section{

    width:18%;
    color:white;
    font: 2rem ubuntu,Verdana,Arial,sans-serif;
    /* border:5px solid black; */
    
}


.ask-question-user-name
{
    text-align: center;
}

.side-button
{
    background-color: #D12F2F;
    border:none;
    font: 1.4rem/1.56 ubuntu,Verdana,Arial,sans-serif;
    color: white;
    width: 12rem;
    height: 12rem;
      border: 3px solid #D12F2F;
    border-radius: 50%;
    margin:1em 1em;
}

.side-button:hover{
    color:rgb(18, 217, 243);
    background-color: #7a1313;
}
.right-section
{
    margin:auto;
    width:70%;
    background-color: beige;
    border:2px solid red;
    border-radius: 10%;
}
.ask-question-text-editor{
    visibility:collapse;
}
/* =======================================================
 */


 /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(156, 137, 137); /* Black fallback color */
    background-color: rgba(63, 57, 57, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }


  .overlay-hidden {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  


  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 5%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    color:white;
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  


.question-list
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.question
{
    background-color: #D12F2F;
    color:rgb(255, 255, 255);
    width:70%;
    margin:1rem auto;
    padding:1rem;
    border: 6px solid #ffffff;
}

.question:hover{
    border: 6px solid #130407;
    /* background-color: #641d1d; */
    /* background: linear-gradient(45deg,#575757,red,rgb(255, 255, 255)); */
    background: linear-gradient(45deg,#837d7d,rgb(209, 39, 39),#ada9a9);
    animation-name: side-bar-question;
    animation-duration: 4s;
}





  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  @media only screen and (max-width: 1200px) 
  {
      .ask-question-container
      {
          display: flex;
          flex-direction: column;
      }

      .left-section{
          margin:auto;
          width:90%;
      }

      .button-holder
      {
          display: flex;
          justify-content: space-evenly;
     
        }

      .right-section
      {
          width:95%;
          margin: auto;
      }
  }


  @media only screen and (max-width: 900px) 
  {
    .title-module
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1rem;
    }
    .title
    {
        font-size:1rem;
        width: 90%;
    }
    #modules
    {
        font-size: 1rem;
    }
    .heading{
        font-size:2rem;
    }
  }