
@keyframes circle {
    0%   {left:900px; }
    45%  {left:0px; }
    65%  { background-color: rgb(28, 185, 93); color:rgb(78, 25, 25);}
    75%  { background-color: rgb(214, 35, 29); color:rgb(135, 252, 187);}
    85%  { background-color: rgb(28, 185, 93); color:rgb(78, 25, 25);}
}

.tips-circle
{
    background-color: #D12F2F;
    font: 1rem ubuntu,Verdana,Arial,sans-serif;
    color: white;
    width: 9rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #D12F2F;
    border-radius: 50%;
    margin:1rem 1rem;
    padding: 1rem;
    border:5px solid rgb(31, 36, 34);

    position: relative;
    animation-name: circle;
    animation-duration: 4s;
}

.tips-circle:hover{
    color:rgb(18, 217, 243);
    background-color: #7a1313;
}

.tips-text
{
    color:white;
    text-align: center;
    background-color: Transparent;
    border:none;
}

.tips-text:hover{
    color:rgb(18, 217, 243);
}

.tips-heading
{
    background-color: rgb(201, 55, 55);
    width:60%;
    margin:auto;
    border-radius: 2%;
    border:5px solid rgb(255, 255, 255);
    padding: 1rem;
}

.tips-list
{
    background-color: rgb(201, 55, 55);
    width:60%;
    margin: 3rem auto;
    padding:3rem;
    border:5px solid white;
    border-radius: 3%;
    
}

.tip{
    font: 2rem ubuntu,Verdana,Arial,sans-serif;
    margin:1rem auto;
    /* background-color: cornsilk; */
}








/* =======================================================
 */


 /* The Overlay (background) */
 .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(156, 137, 137); /* Black fallback color */
    background-color: rgba(63, 57, 57, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }


  .overlay-hidden {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  


  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 5%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    color:white;
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }



  @media only screen and (max-width:700px)
  {
    .tips-circle
    {
      width: 7rem;
      height: 7rem;
      font-size: 0.7rem;
    }
  }