.allsqures {
  margin-bottom: 4rem;
}

#q-titleH {
  font-size: 2rem;
  display: flex;
  background-color: unset;
  width: 30rem;
  height: auto;
  padding: 4rem 0 4rem 2rem;
  background-color: lightslategrey;
  margin: 4rem 0 4rem 0;
  box-shadow: 3px 3px 3px;
}

#q-descriptionH {
  font-size: 1.5rem;
  display: flex;
  width: 30rem;
  height: auto;
  padding: 4rem 0 4rem 2rem;
  background-color: #575757;
  margin: 4rem 0 4rem 0;
  box-shadow: 3px 3px 3px;
}

#q-answerH {
  font-size: 1.5rem;
  display: flex;
  width: 30rem;
  height: auto;
  padding: 4rem 0 4rem 2rem;
  background-color: #d12f2f;
  margin: 4rem 0 4rem 0;
  box-shadow: 3px 3px 3px;
}
