
.normal_header_container{

    display: flex;
    justify-content: left;
    background-color: #f6f3f3;
   
}

.normal_header_logo > img{
    margin-top: 15px;
    margin-left: 10px;
    width: 130px; 

}