/* header{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    

}
.header_container {
    display: flex;
    justify-content: left;
    background-color: #f6f3f3;
    
}
.header_logo > img {
    margin-top: 15px;
    margin-left: 10px;
    width: 130px; 
} */

.normal_header_container{

    display: flex;
    justify-content: left;
    background-color: #f6f3f3;
   
}

.normal_header_logo > img{
    margin-top: 15px;
    margin-left: 10px;
    width: 130px; 

}