header{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    

}
.header_container {
    display: flex;
    justify-content: left;
    background-color: #f6f3f3;
    
}
.header_logo > img {
    margin-top: 15px;
    margin-left: 10px;
    width: 130px; 
}
.header_navbar{
    width: 70%; 
}

nav > ul{
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav > ul > li {
    list-style-type: none;
    font-size: 1.2rem;  
}

nav > ul > li:hover {
    list-style-type: none;
    /* font-size: 1.3rem; */
    background-color: #D12F2F;
    border-radius: 4px;  
}