.login_outer_container {
  font-family: 'Abel', sans-serif;
  display: flex;
  height: 100vh;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  margin-top: 3rem;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
  padding-bottom: 8%;
}
#loginImg {
  width: 3rem;
  height: auto;
  margin-bottom: 2rem;
  padding-right: 1rem;
}

#exampleInputEmail1 {
  margin: 1rem 0 1rem 0;
}
#loginBTN {
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

#signup_link {
  align-self: center;
}
/* 
.login_form > form > input {
    font-size: 0.7rem;
    margin-bottom: 0.4rem;
} 

.login_form > form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 50px;
  
} */
/* 
.login_form_btn > button{
    background-color: #d12f2f;
    border: 1px solid red;
    width: 6rem;
    height: 1.5rem;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    margin-top: 15px;
} */

.login_title > h2 {
  font-weight: 400;
  margin-bottom: -0px;
}
/* 
.login_form_btn > button:hover{
    background-color: #f6f3f3;
    color: black;
    outline: none;

} */

@media screen and (max-width: 800px) {
  #signup_link {
    font-size: 12px;
  }
  .login_btn_links > p {
    width: 8rem;
  }
  .login_form_btn > button {
    width: 4rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 650px) {
  .login_btn_links > p {
    width: 6rem;
  }
  .login_form_btn > button {
    width: 4rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  #signup_link {
    font-size: 10px;
  }
  .login_btn_links > p {
    width: 4rem;
  }
  .login_form_btn > button {
    height: 1.2rem;
    font-size: 0.8rem;
  }
}
