/* @keyframes heading {
  0%   {background-color:rgb(155, 148, 148); color:white;left:0px;}
  25%  {background-color:rgb(168, 150, 150); color:rgb(238, 64, 64);left:10px;}
  85%  {background-color:rgb(248, 191, 191); color:rgb(243, 71, 71); left:20px;}
  93% {background-color:rgb(252, 235, 235); color:rgb(236, 12, 12); left:30px;}
  100% {background-color:rgb(255, 255, 255); color:rgb(235, 39, 39); left:40px;}
  } */

/* 
  @keyframes slidingLine {
    0%   {left:500px;  visibility: hidden;}
    100%  {left:40px; }
    }
   */

@keyframes slidingLine {
  0%   {color:rgba(218, 28, 28, 0.2);border-color:rgba(218, 28, 28, 0.2) ;}
  50%   {color:rgba(231, 195, 195, 0.4);border-color:rgba(231, 195, 195, 0.4);}
  100%  {color:rgba(235, 215, 215, 0.9);border-color:rgba(235, 215, 215, 0.9);}
}

@keyframes sliding-image
{
  0% { left :1000px ;visibility: hidden;}
  25% {left:1000px; visibility:hidden;}
  50% {left:1000px;}
  75% {left:1000px;}
  /* 90% {left:1000px;} */
  100% {left:0px;}
}


@keyframes appearing-Slogan
{
  0% { right :1000px ;visibility: hidden;}
  25% {right:1000px; visibility:hidden;}
  50% {right:1000px;}
  /* 75% {left:1000px;} */
  100% {right:0px;}
}

.heading-text
{
  font: 3.5rem ubuntu,Verdana,Arial,sans-serif;
    color:rgb(255, 255, 255);
    animation-name: slidingLine;
    animation-duration: 3s;
    text-align: center;
    width:60%;
    margin:0 auto;
    margin-top: 2rem;
    /* left:42px; */
    width:100%;
}

.slogan{
  font: 2rem ubuntu,Verdana,Arial,sans-serif;
    color:rgb(255, 255, 255);
    animation-name: slidingLine;
    animation-duration: 3s;
    text-align: center;
    margin:0 auto;
    margin-bottom: 3rem;
    width:100%;
}

.slogan-2
{
  font: 2rem ubuntu,Verdana,Arial,sans-serif;
  color:white;
  position: relative;
  animation-name: appearing-Slogan;
  animation-duration: 2.7s;
  margin-top: 3rem;
}

.animating-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   background: linear-gradient(#575757,rgb(114, 63, 63),rgb(167, 82, 82),rgb(224, 98, 98),rgb(255, 255, 255));
}



.heading-slogan-container
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width:60%;
  border:5px solid white;
  animation-name: slidingLine;
  animation-duration: 3s;
  margin: 3rem auto;
  padding:0.4rem;
}

.image-slogan-container
{
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  /* border:5px solid white; */
  width: 90%;
  bottom: 0px;
}


.cyf-image
{
  width: 30rem;
  height: auto;
  position: relative;
  animation-name: sliding-image;
  animation-duration: 4s;
  top:5rem;
}

@media only screen and (max-width: 800px) 
{
  .heading-text
  {
    font-size:2rem;
  }
  .slogan,.slogan-2{
    font-size: 1rem;
  }
  .cyf-image{
    width:20rem;
  }
}
