.signupComponent_container {
  font-family: 'Abel', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: auto;
  margin-top: 10%;
}
#loginLink {
  margin-left: 20%;
}
#signUpBtn {
  margin-bottom: 2rem;
}
.form-control {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
  .signup_form_btn > button {
    width: 4rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 650px) {
  .signup_form_btn > button {
    width: 4rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  .signup_form_btn > button {
    height: 1.2rem;
    font-size: 0.8rem;
  }
}
